/* DecksView */
.panel {
    padding: 1em;
}

.panel-totals {
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
    line-height: .025em;
}

.panel-totals-cards,
.panel-totals-due,
.panel-totals-decks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.panel-totals-cards-text,
.panel-totals-due-text,
.panel-totals-decks-text {
    font-size: .5em;
}

.panel-create-btn {
    width: 100%;
}

.panel-decks {
    padding: 1em 0;
}

.panel-deck-item {
    padding: .005em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-deck-item-text {
    width: 100%;
    padding: .25em;
}

.panel-deck-item-btns {
    display: flex;
    justify-content: space-between;
}

.panel-deck-item-btn-rename,
.panel-deck-item-btn-delete {
    margin: 0 1em;
}

.panel-deck-item-btn-rename {
    color: #F00;
}